.sidenav-container {
  height: 100%;
  .sidenav {
    width: 250px;
    top: 80px;
    margin-top: 10px;
    .mat-drawer-shown {
      visibility: hidden !important;
    }
    .side-nav-list {
      .app-logo {
        display: flex;
        cursor: pointer;
        height: 58px;
        padding: 10px 20px;
        color: #7c49c7;
        span {
          font-family: 'Open Sans';
          font-weight: 800;
          letter-spacing: 0.2rem;
          align-self: center;
        }
      }
      a {
        border-top-right-radius: 5px;
        font-size: 1.2rem;
        overflow: hidden;
        color: #075b9c;
        border-bottom-right-radius: 5px;
        &:hover {
          background: #dceefc;
          .close-button {
            display: block;
            button {
              background: #dceefc;
            }
          }
        }
        &::ng-deep .mat-list-item-content {
          display: flex;
          justify-content: space-between;
          .close-button {
            // display: none;
            button {
              background: #fff;
              box-shadow: none;
              color: #075b9c;
            }
          }
        }
      }
    }
  }
  .app-toolbar {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    z-index: 9999 !important;
    background: #fff;
    color: #7c49c7;
    .toolbar-toggle-button {
      width: 50px;
    }
    .toolbar-content {
      display: flex;
      justify-content: space-between;
      width: calc(100% - 50px);
      .app-logo {
        display: flex;
        cursor: pointer;
        span {
          font-family: 'Open Sans';
          font-weight: 800;
          letter-spacing: 0.2rem;
          align-self: center;
        }
      }
      .search-field {
        width: 40%;
        .search-form-field {
          width: 100%;
          &::ng-deep .mat-form-field-wrapper {
            padding: 0;
            margin: 0;
            &::ng-deep .mat-form-field-flex {
              &::ng-deep .mat-form-field-infix {
                padding: 0.7rem 0;
              }
            }
          }
        }
      }
      .filter-buttons {
        display: flex;
        justify-content: space-between;
        .country-filter {
          display: flex;
          cursor: pointer;
          &::ng-deep .mat-button {
            &::ng-deep .mat-button-wrapper {
              display: flex;
              .filter-item-image {
                padding: 0 5px 0 0;
                img {
                  width: 12px;
                  height: 12px;
                }
              }
              .filter-item-title {
                padding: 0 0 0 5px;
              }
            }
          }
        }
      }
    }
  }
}

.hidden {
  display: none;
}
.mat-drawer-container {
  background-color: #fff;
  // color: rgba(0,0,0,.87);
}
.mat-drawer-backdro,
.mat-drawer-shown {
  visibility: visible !important;
}
